.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.positai

/.quarto/
**/*.quarto_ipynb

/site_libs/*

*.csv
*.ods

blog/census-workshop/data/2020Census_PL94_171Redistricting_StatesTechDoc_English.pdf
